<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Feedback</title>
</head>
<body>
    <h1>Novo usuario?</h1>
   <button id="cadastroUsuarioButton">Cadastrar Usuário</button>

  <h1>Cadastro de Feedback</h1>
  <form id="feedbackForm">
      <label for="titulo">Título:</label><br>
      <input type="text" id="titulo" name="titulo" required><br><br>

      <label for="tipo">Tipo:</label><br>
      <select id="tipo" name="tipo" required>
          <option value="bug">Bug</option>
          <option value="sugestao">Sugestão</option>
          <option value="reclamacao">Reclamação</option>
          <option value="feedback">Feedback</option>
      </select><br><br>

      <label for="descricao">Descrição:</label><br>
      <textarea id="descricao" name="descricao" required></textarea><br><br>

      <button type="submit">Enviar</button>
  </form>
  
  <script>
      document.getElementById('feedbackForm').addEventListener('submit', function(event) {
          event.preventDefault();

          const titulo = document.getElementById('titulo').value;
          const tipo = document.getElementById('tipo').value;
          const descricao = document.getElementById('descricao').value;

          fetch('/feedbacks/cadastrar', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ titulo: titulo, tipo: tipo, descricao: descricao })
          })
          .then(response => response.json())
          .then(data => {
              if (data.message) {
                  alert(data.message);
              } else {
                  alert('Erro ao cadastrar feedback.');
              }
          })
          .catch(error => {
              console.error('Erro:', error);
              alert('Erro ao cadastrar feedback.');
          });
      });

      document.getElementById('cadastroUsuarioButton').addEventListener('click', function() {
          window.location.href = '/usuarios/cadastrar';
      });
  </script>
</body>
</html>
